## Outputs
foo
c-template-*.tar.gz
c-template-*.tar.xz
c-template-*.zip
.libs
*.o
*.so
*.a
*.la
*.lo
*.pc
*.gperf.c

# Test outputs
test-suite*.log
tests/unit/unittests-*
tests/*/*.log
tests/*/*.trs

# Coverage output
*.gcno
*.gcda
/c-template-*-coverage*
